/*DETAIL PRODUCT*/
#detail-product-wp .thumb-wp, #detail-product-wp .thumb-respon-wp{ width: 42%;}
#detail-product-wp .thumb-respon-wp{ border: 1px solid #c7c7c7;}
#detail-product-wp .info{ 
    width: 58%; 
    padding-left: 25px;
}
#detail-product-wp .section-detail, #post-product-wp .section-detail{background: #fff; padding: 15px;}
#main-thumb img{width: 450px; height: 450px;}
#main-thumb .zoomWrapper img, #detail-product-wp .owl-carousel .owl-item a img{ border: 1px solid #d9d9d9;}
#list-thumb{ margin-top: 25px;}
#detail-product-wp .owl-carousel .owl-item{ padding: 0px 4px;}
#detail-product-wp .owl-carousel .owl-item a{ display: block; }
#detail-product-wp .owl-controls{ position: relative;}
#detail-product-wp .owl-controls .owl-buttons div{ 
    position: absolute; 
    bottom: 42px;
}
#detail-product-wp .owl-controls .owl-buttons div.owl-next{ right: 0px;}
#detail-product-wp .owl-controls .owl-buttons div.owl-prev{ left: -8px;}
#detail-product-wp .owl-controls .owl-buttons div.owl-next:before, #detail-product-wp .owl-controls .owl-buttons div.owl-prev:before{
    position: absolute;
    font-family: 'Fontawesome';
    top: 0;
    left: 0;
    font-size: 26px;
    opacity: 0.5;
}
#detail-product-wp .owl-controls .owl-buttons div:hover:before{ opacity: 1;}
#detail-product-wp .owl-controls .owl-buttons div.owl-next:before{ content: '\f105';}
#detail-product-wp .owl-controls .owl-buttons div.owl-prev:before{ content: '\f104';}
.thumb-respon-wp{ display: none;}
#detail-product-wp .info .product-name{
    font-size: 24px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d0d0d0;
}
#detail-product-wp .info .desc p{
    color: #666;
    padding-bottom: 5px;
}
#detail-product-wp .info .desc p:last-child{ padding-bottom: 0;}
#detail-product-wp .info .desc{ margin-bottom: 15px;}
#detail-product-wp .info .num-product{ margin-bottom: 25px;}
#detail-product-wp .info .num-product .title{ color: #666}
#detail-product-wp .info .num-product .status{
    display: inline-block;
    background: #ddd;
    padding: 0px 10px;
}
#detail-product-wp .info .price{
    font-size: 28px;
    font-family: 'Roboto Medium';
    color: #f12a43;
    margin-bottom: 15px;
}
#num-order-wp{ margin-bottom: 25px;}
#num-order{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #b1b1b1;
    font-family: "Roboto Regular";
    color: #545454;
}
#minus, #plus{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #a0a0a0;
    font-family: "Roboto Regular";
    color: #515151;
    font-size: 10px;
    cursor: pointer;
}
#minus:hover{
    color: #3a9800;
    border: 1px solid #3a9800;
}
#plus:hover{
    color: #F00;
    border: 1px solid #F00;
}
#detail-product-wp .add-cart{
    display: inline-block;
    padding: 10px 30px;
    font-size: 16px;
    background: green;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
}
#detail-product-wp .add-cart:hover{ background: #006d00;}
#post-product-wp .section-title, #same-category-wp .section-title{
    font-size: 21px;
    margin: 35px 0px 20px 0px;
    text-transform: uppercase;
}
#post-product-wp .section-detail p{ padding-bottom: 15px; color: #666; text-align: justify;}
#post-product-wp .section-detail table,
#post-product-wp .section-detail th,
#post-product-wp .section-detail td{
    border: 1px solid black;
}
#post-product-wp .section-detail table{
    border-collapse:collapse;
    margin: 0 auto;
}
#post-product-wp .section-detail th,
#post-product-wp .section-detail td{
    padding: 10px;
}
.detail_description img{
    width: 100%;
    margin: 0 auto;
}